---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <CallToAction />
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - <a href="https://ecomana.com/">Ecomana</a>. A trusted Eco-Friendly company with real values.
      </p>
    </div>
  </section>
</footer>
