---
import { Icon } from 'astro-icon/components'

const { src = '/marae-removebg-preview.png' } = Astro.props
---

<section class="hero my-24">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="text-center md:text-left">
          <span class="text-gradient text-6xl md:text-8xl">EcoMana</span> 
          <br> A Trusted and Eco-Friendly painting company with real values
        </h1>
        <p class="mt-4 text-center md:text-left text-2xl md:text-3xl">
          <strong>15% Off</strong> Up for Grabs — Join our waiting list now!
        </p>
        <div class="flex flex-col gap-3 min-[500px]:flex-row">
          <a class="button has-icon" href="/waiting-list/index.html">
            <Icon name="ion:star-outline" />
            Join Waiting List
          </a>
          <a
            class="button has-icon color-secondary"
            href="/our-values"
          >
            <Icon name="ion:bookmark-outline" />
            Our Values
          </a>
        </div>
      </div>
      <img src={src} alt="Eco-friendly painting mural" class="w-full h-auto crop-effect" />
    </div>
  </div>
</section>

<style lang="scss">
  .text-gradient {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-500));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-400));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .crop-effect {
    clip-path: polygon(0% 15%, 100% 0%, 100% 85%, 0% 100%);
    -webkit-clip-path: polygon(0% 15%, 100% 0%, 100% 85%, 0% 100%);
  }

  @media (min-width: 768px) {
    .crop-effect {
    clip-path: polygon(0% 15%, 100% 0%, 100% 85%, 0% 100%);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    }
  }
</style>
